@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

body {
  @apply transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white;
}

.light body {
  @apply bg-gray-50 text-gray-900;
}

::selection {
  @apply bg-amber-500 text-white;
}